<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tehillah</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>Noto-Naskh-Arabic-Bold.ttf</string>
		<string>Noto-Naskh-Arabic-Regular.ttf</string>
		<string>Noto-Serif-Black-Italic.ttf</string>
		<string>Noto-Serif-Black.ttf</string>
		<string>Noto-Serif-Bold-Italic.ttf</string>
		<string>Noto-Serif-Bold.ttf</string>
		<string>Noto-Serif-Condensed-Black-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Black.ttf</string>
		<string>Noto-Serif-Condensed-Bold-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Condensed-Extra-Bold-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Condensed-Extra-Light-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Condensed-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Light-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Light.ttf</string>
		<string>Noto-Serif-Condensed-Medium-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Condensed-Semi-Bold-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Condensed-Thin-Italic.ttf</string>
		<string>Noto-Serif-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Condensed.ttf</string>
		<string>Noto-Serif-Extra-Bold-Italic.ttf</string>
		<string>Noto-Serif-Extra-Bold.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Black-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Black.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Bold-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Extra-Bold-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Extra-Light-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Light-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Light.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Medium-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Semi-Bold-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Thin-Italic.ttf</string>
		<string>Noto-Serif-Extra-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Extra-Condensed.ttf</string>
		<string>Noto-Serif-Extra-Light-Italic.ttf</string>
		<string>Noto-Serif-Extra-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Black.ttf</string>
		<string>Noto-Serif-Hebrew-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Black.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Hebrew-Condensed.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Black.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Condensed.ttf</string>
		<string>Noto-Serif-Hebrew-Extra-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Medium.ttf</string>
		<string>Noto-Serif-Hebrew-Regular.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Black.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Light.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Hebrew-Semi-Condensed.ttf</string>
		<string>Noto-Serif-Hebrew-Thin.ttf</string>
		<string>Noto-Serif-Italic.ttf</string>
		<string>Noto-Serif-Light-Italic.ttf</string>
		<string>Noto-Serif-Light.ttf</string>
		<string>Noto-Serif-Medium-Italic.ttf</string>
		<string>Noto-Serif-Medium.ttf</string>
		<string>Noto-Serif-Regular.ttf</string>
		<string>Noto-Serif-Semi-Bold-Italic.ttf</string>
		<string>Noto-Serif-Semi-Bold.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Black-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Black.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Bold-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Bold.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Extra-Bold-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Extra-Bold.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Extra-Light-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Extra-Light.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Light-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Light.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Medium-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Medium.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Semi-Bold-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Semi-Bold.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Thin-Italic.ttf</string>
		<string>Noto-Serif-Semi-Condensed-Thin.ttf</string>
		<string>Noto-Serif-Semi-Condensed.ttf</string>
		<string>Noto-Serif-Thin-Italic.ttf</string>
		<string>Noto-Serif-Thin.ttf</string>
		<string>noto_serif_black_italic.ttf</string>
		<string>noto_serif_black.ttf</string>
		<string>noto_serif_bold_italic.ttf</string>
		<string>noto_serif_bold.ttf</string>
		<string>noto_serif_condensed_black_italic.ttf</string>
		<string>noto_serif_condensed_black.ttf</string>
		<string>noto_serif_condensed_bold_italic.ttf</string>
		<string>noto_serif_condensed_bold.ttf</string>
		<string>noto_serif_condensed_extra_bold_italic.ttf</string>
		<string>noto_serif_condensed_extra_bold.ttf</string>
		<string>noto_serif_condensed_extra_light_italic.ttf</string>
		<string>noto_serif_condensed_extra_light.ttf</string>
		<string>noto_serif_condensed_italic.ttf</string>
		<string>noto_serif_condensed_light_italic.ttf</string>
		<string>noto_serif_condensed_light.ttf</string>
		<string>noto_serif_condensed_medium_italic.ttf</string>
		<string>noto_serif_condensed_medium.ttf</string>
		<string>noto_serif_condensed_semi_bold_italic.ttf</string>
		<string>noto_serif_condensed_semi_bold.ttf</string>
		<string>noto_serif_condensed_thin_italic.ttf</string>
		<string>noto_serif_condensed_thin.ttf</string>
		<string>noto_serif_condensed.ttf</string>
		<string>noto_serif_extra_bold_italic.ttf</string>
		<string>noto_serif_extra_bold.ttf</string>
		<string>noto_serif_extra_condensed_black_italic.ttf</string>
		<string>noto_serif_extra_condensed_black.ttf</string>
		<string>noto_serif_extra_condensed_bold_italic.ttf</string>
		<string>noto_serif_extra_condensed_bold.ttf</string>
		<string>noto_serif_extra_condensed_extra_bold_italic.ttf</string>
		<string>noto_serif_extra_condensed_extra_bold.ttf</string>
		<string>noto_serif_extra_condensed_extra_light_italic.ttf</string>
		<string>noto_serif_extra_condensed_extra_light.ttf</string>
		<string>noto_serif_extra_condensed_italic.ttf</string>
		<string>noto_serif_extra_condensed_light_italic.ttf</string>
		<string>noto_serif_extra_condensed_light.ttf</string>
		<string>noto_serif_extra_condensed_medium_italic.ttf</string>
		<string>noto_serif_extra_condensed_medium.ttf</string>
		<string>noto_serif_extra_condensed_semi_bold_italic.ttf</string>
		<string>noto_serif_extra_condensed_semi_bold.ttf</string>
		<string>noto_serif_extra_condensed_thin_italic.ttf</string>
		<string>noto_serif_extra_condensed_thin.ttf</string>
		<string>noto_serif_extra_condensed.ttf</string>
		<string>noto_serif_extra_light_italic.ttf</string>
		<string>noto_serif_extra_light.ttf</string>
		<string>noto_serif_hebrew_black.ttf</string>
		<string>noto_serif_hebrew_bold.ttf</string>
		<string>noto_serif_hebrew_condensed_black.ttf</string>
		<string>noto_serif_hebrew_condensed_bold.ttf</string>
		<string>noto_serif_hebrew_condensed_extra_bold.ttf</string>
		<string>noto_serif_hebrew_condensed_extra_light.ttf</string>
		<string>noto_serif_hebrew_condensed_light.ttf</string>
		<string>noto_serif_hebrew_condensed_medium.ttf</string>
		<string>noto_serif_hebrew_condensed_semi_bold.ttf</string>
		<string>noto_serif_hebrew_condensed_thin.ttf</string>
		<string>noto_serif_hebrew_condensed.ttf</string>
		<string>noto_serif_hebrew_extra_bold.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_black.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_bold.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_extra_bold.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_extra_light.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_light.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_medium.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_semi_bold.ttf</string>
		<string>noto_serif_hebrew_extra_condensed_thin.ttf</string>
		<string>noto_serif_hebrew_extra_condensed.ttf</string>
		<string>noto_serif_hebrew_extra_light.ttf</string>
		<string>noto_serif_hebrew_light.ttf</string>
		<string>noto_serif_hebrew_medium.ttf</string>
		<string>noto_serif_hebrew_regular.ttf</string>
		<string>noto_serif_hebrew_semi_bold.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_black.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_bold.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_extra_bold.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_extra_light.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_light.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_medium.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_semi_bold.ttf</string>
		<string>noto_serif_hebrew_semi_condensed_thin.ttf</string>
		<string>noto_serif_hebrew_semi_condensed.ttf</string>
		<string>noto_serif_hebrew_thin.ttf</string>
		<string>noto_serif_italic.ttf</string>
		<string>noto_serif_light_italic.ttf</string>
		<string>noto_serif_light.ttf</string>
		<string>noto_serif_medium_italic.ttf</string>
		<string>noto_serif_medium.ttf</string>
		<string>noto_serif_regular.ttf</string>
		<string>noto_serif_semi_bold_italic.ttf</string>
		<string>noto_serif_semi_bold.ttf</string>
		<string>noto_serif_semi_condensed_black_italic.ttf</string>
		<string>noto_serif_semi_condensed_black.ttf</string>
		<string>noto_serif_semi_condensed_bold_italic.ttf</string>
		<string>noto_serif_semi_condensed_bold.ttf</string>
		<string>noto_serif_semi_condensed_extra_bold_italic.ttf</string>
		<string>noto_serif_semi_condensed_extra_bold.ttf</string>
		<string>noto_serif_semi_condensed_extra_light_italic.ttf</string>
		<string>noto_serif_semi_condensed_extra_light.ttf</string>
		<string>noto_serif_semi_condensed_italic.ttf</string>
		<string>noto_serif_semi_condensed_light_italic.ttf</string>
		<string>noto_serif_semi_condensed_light.ttf</string>
		<string>noto_serif_semi_condensed_medium_italic.ttf</string>
		<string>noto_serif_semi_condensed_medium.ttf</string>
		<string>noto_serif_semi_condensed_semi_bold_italic.ttf</string>
		<string>noto_serif_semi_condensed_semi_bold.ttf</string>
		<string>noto_serif_semi_condensed_thin_italic.ttf</string>
		<string>noto_serif_semi_condensed_thin.ttf</string>
		<string>noto_serif_semi_condensed.ttf</string>
		<string>noto_serif_thin_italic.ttf</string>
		<string>noto_serif_thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
